*{
    margin: 0;
    color: white;
    font-family: monospace;
}

body{
    background-size: cover;
}

#searchInput{
    border:none;
    font-size: 20px;
    outline: none;
    background-color: transparent;
}

#searchInput:focus{
    border-bottom: 2px solid white;
}

button{
    border: none;
    font-size: 15px;
    color: white;
    background-color: transparent;
}

#page{
    display: flex;
    gap: 20px;
    flex-direction: row;
    text-align: center;
    margin: 80px 200px;
    justify-content: space-between;
}

#leftArea{
    display: flex;
    flex-direction: column;
}

#locName{
    font-size: 600%;
}

#conditions{
    font-size: 200%;
}

#temp{
    font-size: 700%;
}

#changeScale{
    margin: 0 47%;
    text-align: center;
    width: 100px;
}


li{
    text-align: center;
    list-style: none;
    margin-top: 10%;
}

